*.dSYM
+*
.dotest
.idea
.*.cmd
.dotest
.vimhistory
.vscode
Makefile
autom4te*
bin
build
click-buildtool
click-compile
config.cache
config.h
config.log
config.mk
config.status
configure.lineno
depcomp
elementmap
elementmap.xml
etc/pkg-config.mk
installch
man
share/click/config.mk
share/click/elementmap.xml
share/click/pkg-config.mk
stamp-egroup
stamp-h
cscope.*
**/.nfs*
compile_commands.json
*.bc
*.ll
*.resolution.txt
*.lto.o
build/*
userlevel/packetmill
*.o
*.d
