Source: fastclick
Section: net
Priority: optional
Maintainer: Ryan Goodfellow <rgoodfel@isi.edu>
Build-Depends: 
  clang-9,
  llvm-9,
  libexpat1-dev,
  libnuma-dev,
  libibverbs-dev,
  binutils-dev,
  rsync,
  libreadline-dev,
  rdma-core,
  lshw,
  pciutils,
  zlib1g-dev,
  libbpf-dev,
  libpcap-dev
Homepage: https://github.com/tbarbette/fastclick

Package: fastclick
Architecture: amd64
Priority: optional
Description: The FastClick modular router
Depends:
  libnuma1,
  ibverbs-providers,
  libibverbs1,
  libnl-route-3-200,
  libnl-3-200,
  rdma-core,
  lshw,
  pciutils,
  zlib1g,
  libc6,
  libbpf0,
  libpcap0.8

